*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-section {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-link.active {
    background-color: hsl(var(--p));
    color: hsl(var(--pc));
}

.bg-base-200 {

    background-color: oklch(0.5 0.14 324.23);
}

.bg-base-100 {
    background-color: oklch(0.56 0.12 318.44);
}

.text-4x1 {
    color: #ffff;
   
}

.btn-primary {

    border-color: oklch(0.46 0.14 292.6);
    background-color: oklch(0.46 0.14 292.6);
    color: #ffff;
}

.btn-ghost {
    color: #ffff;
    background-color:  oklch(0.46 0.14 292.6);
}

.logo {

    display: flex;
    justify-content: center;
    margin-bottom: -60px;
}

.card-body {
    background-color: #ffff;
   
}





/* Menu Hambúrguer Responsivo */
#menu-toggle {
    color: #ffff;
}

#menu-toggle:hover {
    background-color: oklch(0.46 0.14 292.6);
}

/* Sidebar responsiva */
#sidebar.show {
    transform: translateX(0);
}

/* Ajustes para telas pequenas */
@media (max-width: 1023px) {
    #main-app {
        position: relative;
    }
    
    #sidebar {
        top: 0;
        left: 0;
    }
    
    main {
        margin-left: 0 !important;
        padding-top: 4rem; /* Espaço para o botão hambúrguer */
    }
}

/* Overlay para fechar menu */
#sidebar-overlay.show {
    display: block !important;
}

